<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Long.JavaWiki.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.Long.JavaWiki.entity.User">
        <id column="id" property="id" />
        <result column="login_name" property="loginName" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, login_name, name, password, deleted
    </sql>

</mapper>
